<ion-header>
  <ion-toolbar color="#FF8400">
    <ion-buttons slot="start" class="back">
      <ion-back-button icon="assets/svg/back.svg"></ion-back-button>
    </ion-buttons>
    <img src="https://queo.com.co/static/images/queo_logo.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <h2>Crear Publicaciones</h2>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="formPost">
          <ion-grid>
            <ion-row color="primary" class="ion-justify-content-center">
              <ion-col class="ion-align-self-center" size-md="6" size-lg="6" size-xs="12">

                <div>
                  <ion-list lines="none">

                    <ion-item>
                      <ion-label position="stacked">Etiqueta <ion-text color="danger">*</ion-text></ion-label>
                      <ion-select placeholder="Selecciona una etiqueta" formControlName="etiqueta">
                        <ion-select-option *ngFor="let tag of dataTags" value="{{ tag.id }}">{{ tag.name }}</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">Usuario <ion-text color="danger">*</ion-text></ion-label>
                      <ion-select placeholder="Escribe un usuario" formControlName="usuario">
                        <ion-select-option value="1">andres4093</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input type="text" placeholder="Escribe un nombre" formControlName="nombre" ></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input type="text" placeholder="Escribe un correo" formControlName="correo" ></ion-input>
                    </ion-item>

                  </ion-list>

                </div>
                <div class="comenzar">
                  <ion-button expand="block" type="submit" (click)="onSubmit()"  >Guardar Publicación</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/comments']">
          <ion-icon md="md-home" color="primary"></ion-icon>
          <ion-label>Cometarios</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/tags']">
          <ion-icon md="md-pricetags" color="primary"></ion-icon>
          <ion-label>Etiquetas</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/posts']">
          <ion-icon md="md-albums" color="primary"></ion-icon>
          <ion-label>Publicaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="exit()">
          <ion-icon md="md-exit" color="primary"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
