<ion-content>
  <ion-img src="assets/svg/queo_logo.svg"></ion-img>
  <ion-card>
  <ion-card-content>
    <p>Hola, Bienvenidos de nuevo</p>
    <h2>¡Parqueadero a un clic de distancia!</h2>
    <form [formGroup]="formLogin">
      <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="6" size-xs="12">

            <div class="formulario">
              <ion-list>

                <ion-item>
                  <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="text" placeholder="Escribe tu correo" formControlName="email" ></ion-input>
                  <ion-img class="icon" src="assets/svg/user.svg"></ion-img>
                </ion-item>


                <ion-item>
                  <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input [type]="passwordType" placeholder="Escribe tu contraseña" formControlName="password" ></ion-input>
                  <ion-img [hidden]="Ocultar" (click)="cambio(0)" class="icon" src="assets/svg/eye.svg" style="width: 35px; left: -7px; top:-6px;"></ion-img>
                  <ion-img [hidden]="Mostrar" (click)="cambio(1)" class="icon" src="assets/svg/hide-eye.svg" style="width: 25px; left: -2px;"></ion-img>
                </ion-item>

              </ion-list>
            </div>
            <div class="comenzar">
              <ion-button class="login" type="submit" (click)="onSubmit()" >Inicia sesión</ion-button>
              <a (click)="register()">Registrate</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-card-content>
</ion-card>
</ion-content>
