<ion-header>
  <ion-toolbar color="#FF8400">
    <img src="https://queo.com.co/static/images/queo_logo.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <h2>Publicaciones</h2>
    <ion-card *ngFor="let item of dataPosts let i = index">
      <ion-card-content>
        <ion-list lines="none">

          <ion-item>
            <ion-label position="stacked">Etiqueta</ion-label>
            <p>{{ item.tag[0].name }}</p>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <p>{{ item.user.name }}</p>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <p>{{ item.name }}</p>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Correo</ion-label>
            <p>{{ item.email }}</p>
          </ion-item>

          <ion-item>
            <ion-button class="eliminar" (click)="deletePost(item, i)">Eliminar</ion-button>
            <ion-button class="editar" (click)="editPost(item, i)">Editar</ion-button>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- <ion-infinite-scroll threshold="100px">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

  </div>

  <ion-fab (click)="postsCreate()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/comments']">
          <ion-icon md="md-home" color="primary"></ion-icon>
          <ion-label>Cometarios</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/tags']">
          <ion-icon md="md-pricetags" color="primary"></ion-icon>
          <ion-label>Etiquetas</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/posts']">
          <ion-icon md="md-albums" color="primary"></ion-icon>
          <ion-label>Publicaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="exit()">
          <ion-icon md="md-exit" color="primary"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
