ion-header{
  height: 12%;
  z-index: 16;
  background: linear-gradient(to right, #FF8400, #FFC107);
  img{
    width: 35%;
    margin-left: 10px;
    margin-top: 16px;
  }
  .back{
    margin-top: 16px;
    margin-left: 16px;
  }
}

ion-content{
  --background: #fafafa;
  .contenedor{

    padding-left: 16px;
    padding-right: 16px;

      h2{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        text-align: left;
        color: #737373;
      }

      ion-card{
        background-color: #FFFFFF;
        height: 100%;
        margin-top: 1%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0;
        box-shadow: 0px 0px 16px rgba(53, 53, 53, 0.15);
      }

      ion-card-content{
        height: 80%;

        ion-card{
          width: 100%;
          height: 26em;
          background: #FFFFFF;
          border-radius: 10px;
        }

        ion-label{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          color: #353535;
        }

        p{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #5A6771;
        }

        .eliminar{
          --background: #d1d1d1;
          width: 50%;
          height: 32px;
          font-family: "Montserrat", sans-serif;
          text-transform: capitalize;
        }

        .editar{
          width: 50%;
          height: 32px;
          font-family: "Montserrat", sans-serif;
          text-transform: capitalize;
        }

        .comenzar{
          ion-button{
            font-family: "Montserrat", sans-serif;
            text-transform: capitalize;
          }
        }
      }
    }
  }
