ion-content{
  // background-image: url("/assets/svg/fondo.svg");
  background: linear-gradient(to right, #FF8400, #FFC107);
  --background: auto;

  ion-img{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
  }
}

ion-card{
  background-color: #fff;
  height: 30em;
  margin-top: 13%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

ion-card-header{
  height: 25%;
  ion-img{
    margin-top: 20px;
    height: 75px;
  }
}

ion-card-content{
  margin-top: 10px;
  height: 100%;
  p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #FF8400;
  }

  form{
    margin-top: 5px;
    height: 90%;

    ion-grid, ion-row, ion-col,  ion-list{
      height: 100%;
    }

    .formulario{
      height: 70%
    }

    ion-item{
      height: 30%;
      top: 15px;
      --highlight-background: none;
    }
  }

  ion-label{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;

    /* Main_Color */
    color: #FF8400;
  }

  ion-input{
    font-family: 'Montserrat', sans-serif;
  }
  .comenzar{
    height: 30%;
    .login{
      --background: #FF8400;
      background: transparent;
      box-shadow: 0px 0px 8px;
      --border-radius: 50px;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      text-transform: inherit;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      height: 48px;
      margin-bottom: 16px;
      /* Second */
      color: #FFF2F9;
    }

    a{
      font-family: 'Montserrat', sans-serif;
      margin-left: 33%;
      margin-right: 33%;
      text-decoration: none;
    }
  }
  .icon{
    position: absolute;
    margin-left: 90%;
    margin-top: 8%;
    width: 20px
  }
}


  h1{
    color: white;
    font-size: 14px;
    margin-top: 35%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
  }
