<ion-content>
  <ion-img src="assets/svg/queo_logo.svg"></ion-img>
  <ion-card>
  <ion-card-content>
    <p>Hola, Registrate</p>
    <h2>¡Parqueadero a un clic de distancia!</h2>
    <form [formGroup]="formRegister">
      <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="6" size-xs="12">

            <div class="formulario">
              <ion-list>

                <ion-item>
                  <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="text" placeholder="Escribe tu correo" formControlName="email" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Usuario <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="text" placeholder="Escribe tu usuario" formControlName="name" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="password" placeholder="Escribe tu contraseña" formControlName="password" ></ion-input>
                </ion-item>

              </ion-list>
            </div>
            <div class="comenzar">
              <ion-button class="login" type="submit" (click)="onSubmit()" >Registrate</ion-button>
              <a (click)="login()">Iniciar Sesion</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-card-content>
</ion-card>
</ion-content>
